:root {
    --color1: #fff;
    --color2: #ddd;
    --color3: gray;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color2);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 30px;
}

.container {
    max-width: 1140px;
    background-color: var(--color1);
    margin: 40px auto;
    height: auto;
    padding: 20px;
}

nav, header, section, footer {
    background-color: var(--color2);
    padding: 30px;
    text-align: center;
    margin-bottom: 20px;
}

header {
    padding: 130px;
}

.section1, .section2 {
    padding: 50px 10px;
}

.section1 .content, .section2 .content {
    display: flex;
}

.section1 .content .card {
    flex: 1;
    padding: 0 10px;
}

.section1 .content .card .box {
    background-color: var(--color3);
    padding: 60px;
    color: var(--color1);
    font-size: 30px;
    margin-top: 60px;
}

.section2 .content .left, .section2 .content .right {
    flex: 1;
    padding: 0px 10px;
    margin-top: 60px;
}

.section2 .content .left .card {
    padding: 200px 15px;
    background-color: var(--color3);
    color: var(--color1);
    font-size: 30px;
}

.section2 .content .right .card{
    background-color: var(--color3);
    color: var(--color1);
    font-size: 30px;
    padding: 48px 15px;
    margin-bottom: 20px;
}

footer {
    margin: 0;
    padding: 50px 10px;
}