body, html {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: cursive, monospace, sans-serif;
}
body {
	display: flex;
	align-items: center;
	/* justify-content:center; */
	flex-direction: column;
	background: url("./background.jpg") no-repeat center center / cover;
	min-height: 100vh;
}
.screen {
	display: flex;
	flex-direction: column;
	margin-top: 100px;
	padding: 30px;
	background-color: #f0f0f0;
	border-radius: 20px;
	border: 1px solid #a0a0a0;
}
.screen input {
	padding: 20px 50px;
	text-align: left;
	/* border: none; */
}
.screen input[type='button'] {
	font-family: cursive, monospace, sans-serif;
}
.buttons {
	width: 100%;
	height: auto;
}
.game {
	margin-top: 0;
	display: none;
	/* display: block; */
	max-width: 300px;
	padding-bottom: 0;
	padding-top: 5px;
}
.statusbar, .statusbar * {
	margin: 0;
	padding: 0;
}
.statusbar {
	margin-top: 20px;
}
hr {
	margin: 2px 0 !important;
}
#winner {
	color: red;
}
#user-input, #computer-input {
	color: blue;
}
.exit {
	font-weight: 900;
	color: red;
	background-color: pink;
	padding: 0 50px;
	width: fit-content;
	margin: auto;
	margin-top: 15px;
	margin-bottom: 15px;
	border-radius: 20px;
	cursor: pointer;
}
@media screen and (max-width: 700px) {
	body {
		background: url('./mob-background.jpg') no-repeat center center / cover;
	}
	.title {
		color: white;
		background-color: rgba(0,0,0,0.5);
		width: 100%;
		text-align: center;
	}
}