<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./Layout-04/css/Layout-04.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Layout-04</title>
</head>
<body>
    <div class="container">
        <!-- <START> Contact -->
        <div class="contact">
            <div class="user-header">
                <div class="profile">
                    <img src="./Layout-04/images/profile.jpg" alt="Profile">
                </div>
                <div class="options">
                    <i class="fa-solid fa-circle-notch"></i>
                    <i class="fa-solid fa-message"></i>
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </div>
            </div>
            <div class="notification">
                <div class="icon">
                    <i class="fa-solid fa-bell-slash"></i>
                </div>
                <div class="text">
                    <p>Get notified of new messages</p>
                    <p>Turn on desktop notifications <i class="fa-solid fa-angle-right" style="font-size:13px;align-items: center;"></i></p>
                </div>
            </div>
            <div class="search-bar">
                <div class="search-inner">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input type="text" name="search" placeholder="Search or start new chat" autocomplete="off">
                </div>
            </div>
            <div class="contact-list">
                <div class="con">
                    <div class="con-img">
                        <img src="./Layout-04/images/contact1.jpg" alt="Career Join">
                    </div>
                    <div class="con-summary">
                        <h4>Job Update 33</h4>
                        <p><i class="fa-solid fa-check"></i> +92 347 0573191: Foundation University Islamabad Jobs Senior Registrar https://www.careerjoin.com/foundation-university-islamabad-jobs-senior-registrar/?utm_medium=whatsapp&utm_source=groups</p>
                    </div>
                    <div class="con-time">
                        <p>10:06 AM</p>
                    </div>
                </div>
                <div class="con">
                    <div class="con-img">
                        <img src="./Layout-04/images/contact2.jpg" alt="Career Join">
                    </div>
                    <div class="con-summary">
                        <h4>Hasnain (Uni)</h4>
                        <p><i class="fa-solid fa-check-double"></i> Ok bro</p>
                    </div>
                    <div class="con-time">
                        <p>5:01 AM</p>
                    </div>
                </div>
                <div class="con">
                    <div class="con-img">
                        <img src="./Layout-04/images/contact3.jpg" alt="Career Join">
                    </div>
                    <div class="con-summary">
                        <h4>Ashar Bhai</h4>
                        <p><i class="fa-solid fa-check-double"></i> ?</p>
                    </div>
                    <div class="con-time">
                        <p>10:06 AM</p>
                    </div>
                </div>
                <div class="con">
                    <div class="con-img">
                        <img src="./Layout-04/images/contact4.jpg" alt="Career Join">
                    </div>
                    <div class="con-summary">
                        <h4>Saylani b8 (timing 4 - 6)</h4>
                        <p><i class="fa-solid fa-check"></i> +92 347 0573191 joined via an invite link</p>
                    </div>
                    <div class="con-time">
                        <p>10:06 AM</p>
                    </div>
                </div>
                <div class="con">
                    <div class="con-img">
                        <img src="./Layout-04/images/contact5.jpg" alt="Career Join">
                    </div>
                    <div class="con-summary">
                        <h4>COA BS CS SEC D</h4>
                        <p><i class="fa-solid fa-check"></i> +92 321 3767504: Where are you all?</p>
                    </div>
                    <div class="con-time">
                        <p>10:06 AM</p>
                    </div>
                </div>
                <div class="con">
                    <div class="con-img">
                        <img src="./Layout-04/images/contact6.jpg" alt="Career Join">
                    </div>
                    <div class="con-summary">
                        <h4>Sir Tauseef</h4>
                        <p><i class="fa-solid fa-check-double"></i> <i class="fa-solid fa-camera"></i> Photo</p>
                    </div>
                    <div class="con-time">
                        <p>10:06 AM</p>
                    </div>
                </div>
                <div class="con">
                    <div class="con-img">
                        <img src="./Layout-04/images/contact7.jpg" alt="Career Join">
                    </div>
                    <div class="con-summary">
                        <h4>Talib (Friend)</h4>
                        <p><i class="fa-solid fa-check-double"></i> Ali na tw post kia ha</p>
                    </div>
                    <div class="con-time">
                        <p>10:06 AM</p>
                    </div>
                </div>
                <div class="con">
                    <div class="con-img">
                        <img src="./Layout-04/images/contact8.jpg" alt="Career Join">
                    </div>
                    <div class="con-summary">
                        <h4>Hammad Ali (Friend)</h4>
                        <p><i class="fa-solid fa-check-double"></i> Kaha ho</p>
                    </div>
                    <div class="con-time">
                        <p>10:06 AM</p>
                    </div>
                </div>
                <div class="con">
                    <div class="con-img">
                        <img src="./Layout-04/images/user.svg" alt="Career Join">
                    </div>
                    <div class="con-summary">
                        <h4>Talha (Uni)</h4>
                        <p><i class="fa-solid fa-check-double"></i> Me abhi nhi gaya eid k baad hi jaunga</p>
                    </div>
                    <div class="con-time">
                        <p>10:06 AM</p>
                    </div>
                </div>
                <div class="con">
                    <div class="con-img">
                        <img src="./Layout-04/images/user.svg" alt="Career Join">
                    </div>
                    <div class="con-summary">
                        <h4>Zain (Uni)</h4>
                        <p><i class="fa-solid fa-check-double"></i> Class hai aj kia</p>
                    </div>
                    <div class="con-time">
                        <p>10:06 AM</p>
                    </div>
                </div>
                <div class="con">
                    <div class="con-img">
                        <img src="./Layout-04/images/contact9.jpg" alt="Career Join">
                    </div>
                    <div class="con-summary">
                        <h4>Ali (Friend)</h4>
                        <p><i class="fa-solid fa-check-double"></i> Theak hai</p>
                    </div>
                    <div class="con-time">
                        <p>10:06 AM</p>
                    </div>
                </div>
                <div class="con">
                    <div class="con-img">
                        <img src="./Layout-04/images/user.svg" alt="Career Join">
                    </div>
                    <div class="con-summary">
                        <h4>Jawwad (Uni)</h4>
                        <p><i class="fa-solid fa-check-double"></i> Uni m ho?</p>
                    </div>
                    <div class="con-time">
                        <p>10:06 AM</p>
                    </div>
                </div>
                <div class="con">
                    <div class="con-img">
                        <img src="./Layout-04/images/contact10.jpg" alt="Career Join">
                    </div>
                    <div class="con-summary">
                        <h4>Ami Jaan</h4>
                        <p><i class="fa-solid fa-check-double"></i> Okey</p>
                    </div>
                    <div class="con-time">
                        <p>10:06 AM</p>
                    </div>
                </div>
                <div class="con">
                    <div class="con-img">
                        <img src="./Layout-04/images/contact11.jpg" alt="Career Join">
                    </div>
                    <div class="con-summary">
                        <h4>Mulla Nihari Group</h4>
                        <p><i class="fa-solid fa-check"></i> https://youtu.be/CYvueUVGkzQ</p>
                    </div>
                    <div class="con-time">
                        <p>10:06 AM</p>
                    </div>
                </div>
                <div class="con">
                    <div class="con-img">
                        <img src="./Layout-04/images/contact12.jpg" alt="Career Join">
                    </div>
                    <div class="con-summary">
                        <h4>Aneeq (Friend)</h4>
                        <p><i class="fa-solid fa-check-double"></i> Enablars ka batao kia seen hai uska ?</p>
                    </div>
                    <div class="con-time">
                        <p>10:06 AM</p>
                    </div>
                </div>
                <div class="con">
                    <div class="con-img">
                        <img src="./Layout-04/images/contact13.jpg" alt="Career Join">
                    </div>
                    <div class="con-summary">
                        <h4>Study Help Group CS ✅</h4>
                        <p><i class="fa-solid fa-check-double"></i> Saqib Ali (Uni): <i class="fa-brands fa-invision"></i> Sticker</p>
                    </div>
                    <div class="con-time">
                        <p>10:06 AM</p>
                    </div>
                </div>
                <div class="con">
                    <div class="con-img">
                        <img src="./Layout-04/images/contact14.jpg" alt="Career Join">
                    </div>
                    <div class="con-summary">
                        <h4>Just for discussion</h4>
                        <p><i class="fa-solid fa-check"></i> Zain (Uni): Names show nh horh jnhone nh kia</p>
                    </div>
                    <div class="con-time">
                        <p>10:06 AM</p>
                    </div>
                </div>
                <div class="con">
                    <div class="con-img">
                        <img src="./Layout-04/images/contact15.jpg" alt="Career Join">
                    </div>
                    <div class="con-summary">
                        <h4>Abdul Moiz (Uni)</h4>
                        <p><i class="fa-solid fa-check-double"></i> 100111110101101</p>
                    </div>
                    <div class="con-time">
                        <p>10:06 AM</p>
                    </div>
                </div>
                <div class="con">
                    <div class="con-img">
                        <img src="./Layout-04/images/contact16.jpg" alt="Career Join">
                    </div>
                    <div class="con-summary">
                        <h4>NETVIRUS INTERNET CABLE</h4>
                        <p><i class="fa-solid fa-check"></i> Internet -: <i class="fa-solid fa-camera"></i> Photo</p>
                    </div>
                    <div class="con-time">
                        <p>10:06 AM</p>
                    </div>
                </div>
                <div class="con">
                    <div class="con-img">
                        <img src="./Layout-04/images/contact17.jpg" alt="Career Join">
                    </div>
                    <div class="con-summary">
                        <h4>CS Sec D, Links✔️</h4>
                        <p><i class="fa-solid fa-check"></i> Zain (Uni): Join krlen jnhone nh kia abh tk</p>
                    </div>
                    <div class="con-time">
                        <p>10:06 AM</p>
                    </div>
                </div>
                <div class="con">
                    <div class="con-img">
                        <img src="./Layout-04/images/contact18.jpg" alt="Career Join">
                    </div>
                    <div class="con-summary">
                        <h4>Qadir (Friend)</h4>
                        <p><i class="fa-solid fa-check-double"></i> Phone bn gaya</p>
                    </div>
                    <div class="con-time">
                        <p>10:06 AM</p>
                    </div>
                </div>
                <div class="con">
                    <div class="con-img">
                        <img src="./Layout-04/images/contact19.jpg" alt="Career Join">
                    </div>
                    <div class="con-summary">
                        <h4>Ali (Uni)</h4>
                        <p><i class="fa-solid fa-check-double"></i> Ok</p>
                    </div>
                    <div class="con-time">
                        <p>10:06 AM</p>
                    </div>
                </div>
                <div class="con">
                    <div class="con-img">
                        <img src="./Layout-04/images/contact20.jpg" alt="Career Join">
                    </div>
                    <div class="con-summary">
                        <h4>Maaz</h4>
                        <p><i class="fa-solid fa-check-double"></i> <i class="fa-solid fa-phone"></i> Missed voice call</p>
                    </div>
                    <div class="con-time">
                        <p>10:06 AM</p>
                    </div>
                </div>
                <div class="con">
                    <div class="con-img">
                        <img src="./Layout-04/images/contact21.jpg" alt="Career Join">
                    </div>
                    <div class="con-summary">
                        <h4>Sadam (Uni)</h4>
                        <p><i class="fa-solid fa-check-double"></i> 😂😂</p>
                    </div>
                    <div class="con-time">
                        <p>10:06 AM</p>
                    </div>
                </div>
                <div class="con">
                    <div class="con-img">
                        <img src="./Layout-04/images/contact22.jpg" alt="Career Join">
                    </div>
                    <div class="con-summary">
                        <h4>Success network</h4>
                        <p><i class="fa-solid fa-check-double"></i> Miss Neelam: No</p>
                    </div>
                    <div class="con-time">
                        <p>10:06 AM</p>
                    </div>
                </div>
                <div class="con">
                    <div class="con-img">
                        <img src="./Layout-04/images/contact23.jpg" alt="Career Join">
                    </div>
                    <div class="con-summary">
                        <h4>Zain (Friend)</h4>
                        <p><i class="fa-solid fa-check-double"></i> Ready rehna</p>
                    </div>
                    <div class="con-time">
                        <p>1/5/2022</p>
                    </div>
                </div>
                <div class="con">
                    <div class="con-img">
                        <img src="./Layout-04/images/contact24.jpg" alt="Career Join">
                    </div>
                    <div class="con-summary">
                        <h4>Shahmeer (Friend)</h4>
                        <p><i class="fa-solid fa-check-double"></i> Okh</p>
                    </div>
                    <div class="con-time">
                        <p>1/22/2022</p>
                    </div>
                </div>
                <div class="con">
                    <div class="con-img">
                        <img src="./Layout-04/images/contact25.jpg" alt="Career Join">
                    </div>
                    <div class="con-summary">
                        <h4>Sir Naeem (Uni)</h4>
                        <p><i class="fa-solid fa-check-double"></i> 🙂</p>
                    </div>
                    <div class="con-time">
                        <p>2/1/2022</p>
                    </div>
                </div>
                <div class="con">
                    <div class="con-img">
                        <img src="./Layout-04/images/contact26.jpg" alt="Career Join">
                    </div>
                    <div class="con-summary">
                        <h4>Sir Daniyal</h4>
                        <p><i class="fa-solid fa-check-double"></i> Sir kuch hoa....</p>
                    </div>
                    <div class="con-time">
                        <p>8/26/2021</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- <END> Contact -->

        <!-- <START> Message -->
        <div class="message">

        </div>
        <!-- <END> Message -->
    </div>
</body>
</html>